/*
font-family: Lato, Helvetica, Arial, sans-serif

 */

:root {
    --blog-post-date-color: rgb(190, 150, 86);
}

html {
    font-size: 62.5%;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.bg-black {
    background-color: #222222;
}

.header-icon {
    font-size: 2rem;
    color: #4c8055;
}

.header-icon-link:hover,
.header-icon-link:active {
    color: #df982d;
}

.navigation-list {
    font-size: 2.3rem;

}

.navigation-link:link,
.navigation-link:visited {
    color: green;
}

.home-bg-image {
    background-image: url("../img/home-background.jpg");
}

.navigation-link:hover,
.navigation-link:active {
    color: chocolate;
}

.footer-list {
    list-style-type: none;

}

.footer-posts-title {
    font-size: 1.4rem;
    color: rgb(153, 153, 153);
    letter-spacing: 2px;
    padding-bottom: .5rem;
    text-transform: uppercase;
}

.footer-post-date {
    color: rgb(153, 153, 153);
    font-size: 1.3rem;
    font-style: italic;
}

.footer-category-posts:link,
.footer-category-posts:visited {
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.footer-category-posts:hover,
.footer-category-posts:active {
    color: chocolate;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.footer-copyright {
    font-size: 1.4rem;
    color: rgb(153, 153, 153);
}

.categories-background{
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.4)), url("../img/categories_background.jpeg") scroll center center no-repeat;
    background-size: cover;
    height: 70vh;
}

.subcategory-background{
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.4)), url("../img/vlog_america_background.jpg") scroll center center no-repeat;
    background-size: cover;
    height: 70vh;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: white;
    content: ">";
}
.breadcrumb-style{
    font-size: 1.5rem;
}
.white-text:link,
.white-text:visited{
    color: white;
}

.white-text:hover,
.white-text:active{
   text-decoration: none;
    color: #c78427;
}

.category-description{
    font-size: 1.8rem;
}
.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/home-background.jpg") scroll center center no-repeat;
    background-size: cover;

}

.header-background {
    height: 55vh;
    clip-path: polygon(0px 0px, 100% 0px, 100% 400px, 0px 100%);
}

.btn-green:hover {
    background-color: darkgreen;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.4));
    height: 30%;
    border-radius: 10px;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    /*
          animation-delay: 3s;
          animation-iteration-count: 3;
          */
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.heading-tertiary {
    font-size: 4.2rem;
    font-weight: 700;
}

.category-sidebar-text{
    font-size: 1.75rem;
}
.article-text {
    font-size: 1.6rem;
}

.card-title-1 {
    font-size: 2rem;
    font-weight: 700;
}

.card-text-1 {
    font-size: 1.8rem;

}

.card-img-top-1 {
    height: 11vw;
    object-fit: cover;
}

.navigation-link:hover,
.navigation-link:active {
    color: #dd9905;
}

.hover-effect {
    background-color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    transition: transform .3s;
}

.hover-effect:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

.round-radius {
    border-radius: 50%;
}

.bg-green {
    background-color: #63a780;
}

.person-title {
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-style: italic;
}

.person-description {
    color: white;
    font-size: 2rem;
}

.btn-style {
    font-size: 2rem;
    background-color: #0b4238;
    border-color: #0b4238;
}

.btn-style:hover {

    background-color: #d6982c;
}

.vlog-card-text{
    font-size: 2rem;
}
.list-group-item-style{
    font-size: 1.5rem;
}

.pagination-text{
    font-size: 1.6rem;
}

.image-fit {
    height: 30rem;
    object-fit: cover;
    border-radius: 10px;
}

/* class for right side social bar */

.bgcolorSubscibe {
    background-color: #222222;
    text-align: center;
    height: 180px;
    padding-top: 7%;
}

.alig_right_sidebar_content {
    text-align: center;

}

.dimension_subs_button {
    width: 318px;
}

.dimension_subs_button {
    width: 99%;
    font-size: 2rem !important;
}

.pictureme {
    height: 170px;
}

.follow_align {
    text-align: center;
    padding-top: 10%;
}

.contact-section {
    padding: 40px 0;
}

.contact-section h1 {
    text-align: center;
    color: #ddd;
}

.myBorder {
    width: 100px;
    height: 10px;
    background: red;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: whitesmoke;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

/* Contact us input placeholder styling */
.contact-form-text::-webkit-input-placeholder {
    text-decoration: underline;
}

.contact-form-text:-ms-input-placeholder {
    text-decoration: underline;
}

input.contact-form-text::placeholder {
    text-decoration: underline;
}

/* DOESNT WORK FOR TEXTAREA*/
textarea::-webkit-input-placeholder {
    text-decoration: underline;
}

textarea:-moz-placeholder { /* Firefox 18- */
    text-decoration: underline;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    text-decoration: underline;
}

textarea:-ms-input-placeholder {
    text-decoration: underline;
}

textarea::placeholder {
    text-decoration: underline;
}

/******************************************************************/

/* Stilizare formular contact
*/
textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: grey;
    color: black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #2980b9;
}

.text-Contact {
    font-family: "fantasy";
    font-size: 18px;
    color: black;

}

/* ****** Blog Post Page Classes ****** */
.leaveComment__input,
.leaveComment__textarea {
    border: 1px solid #ffffff;

    transition: border ease-in .3s;
}

.leaveComment__input:focus,
.leaveComment__textarea:focus {
    border: 1px solid #000000;
}

.myBlogPost__postContent {
    -webkit-box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.48);
    box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.48);
}

.myBlogPost__postDate span {
    padding: 0 5px;
    position: relative;
    background-color: #ffffff;
    z-index: 1;
}

.myBlogPost__postDate:before {
    content: "";
    margin: 0 auto;
    width: 40%;
    border-bottom: 1px solid var(--blog-post-date-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

/* ****** Main Footer Styles ****** */
.myMainFooter-logo {
    display: block;
    margin: 0 auto;
}

/* ****** Utility Classes ****** */

/* Box Shadows */
.myBlack-shadow {
    -webkit-box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.48);
    box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.48);
}

/* Font Colors */
.myColor-black {
    color: #000000;
}

.myDate-color {
    color: var(--blog-post-date-color);
}

/* *********** */

/* Font Size */
.myFont-size-12 {
    font-size: 12px;
}

.myFont-size-14 {
    font-size: 14px;
}

.myFont-size-16 {
    font-size: 16px;
}

.myFont-size-16 {
    font-size: 20px;
}

/* *********** */

/* make Dropdown work inside another dropdown */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}






















