<div class="container">
    <div class="row">
        <div class="col-12 border card alig_right_sidebar_content">
            <h2 style="padding-bottom: 5px">Despre Noi</h2>
            <img src="../img/me.jpeg" class="card-img-top pictureme" alt="me">
            <div class="card-body">
                <p class="card-text myFont-size-14">
                    Suntem un grup de patru tineri care au ca hobby călătoriile şi împărtăşirea experienţelor trăite acolo, cu toţi cei dornici de aventură. Vrei o destinaţie de vacanţă şi nu ştii exact ce poţi face în acea vacanţă? Vrei să ai amintiri frumoase?Călătoria ta începe cu noi!
                </p>
            </div>
        </div>
    </div>
</div>