<div class="container border">
    <div class="row">
        <div class="col-12">
            <h2 class="follow_align">Follow Us On</h2><br>
        </div>
    </div>
    <div class="row  mx-5 my-2">
        <i class="col-3 fab fa-facebook-f header-icon px-3 myFbIcon"></i>
        <i class="col-3 fab fa-twitter-square header-icon px-3"></i>
        <i class="col-3 fab fa-pinterest header-icon px-3"></i>
        <i class="col-3 fab fa-instagram header-icon px-3"></i>
    </div>
</div>