<div class="container">
    <div class="row">
        <div class="col-12 border bgcolorSubscibe alig_right_sidebar_content">
            <form action="" method="post">
                <div class="form-group ">
                    <h2 style=" padding-bottom: 10px; color: white">Subscribe to Our Newsletter</h2>
                    <label class="d-none" for="newsletterUserEmail"></label>
                    <input type="email" class="form-control myFont-size-14" name="newsletterUserEmail" id="newsletterUserEmail" aria-describedby="emailHelp">
                </div>

                <button type="submit" class="btn btn-secondary dimension_subs_button w-100 btn-green">Subscribe</button>
            </form>
        </div>
    </div>
</div>