<!------------------------------------>
<!------------  PHP CODE  ------------>
<!------------------------------------>
<?php
//////////////////////
////// INCLUDES /////
////////////////////
include '../functions/functions.php';

//////////////////////
////// CLASSES //////
////////////////////

/// Project Classes ///
// BlogPost class
/** @var App\Entity\BlogPost $blogPost */

// User Class
/** @var App\Entity\User $author */

// Comment Class
/** @var App\Entity\Comment $comment */
/////////////////////////////////////////////

/// Library Classes ///

//////////////////////////////

////// TWIG //////

//////////////////////////////

$blogPost = App\Entity\BlogPost::find($_GET['id']);
?>

<!----------------------------------------------->
<!------------  INCLUDE HTML HEADER  ------------>
<!----------------------------------------------->
<?php
include '../components/header.php';
?>

<div class="row">
    <div class="col-12 px-0 text-center">
        <div class="header-background jumbotron w-100 d-flex ">
            <h1 class="heading-primary justify-content-center p-4 mx-auto">
                <span class="heading-primary-main ">Green Team</span>
                <span class="heading-primary-sub">Travel with us</span>
            </h1>
        </div>
    </div>
</div>

<main class="container-fluid container">
    <div class="row">
        <!----------------------------------------------->
        <!------------  BLOG POST GOES HERE  ------------>
        <!----------------------------------------------->
        <div class="col-12 col-lg-9">
            <section class="row myBlogPost">

                <article class="col-12 py-3 myBlogPost__postContent">
                    <h2 class="col-12 text-center myBlogPost__postTitle myFont-size-20">
                        <?php echo $blogPost->getPostTitle(); ?>
                    </h2>

                    <span class="col-12 mb-5 text-center d-inline-block myBlogPost__postDate myFont-size-12 myDate-color">
                        <span><?php echo $blogPost->getDate(); ?></span>
                    </span>

                    <div class="row">
                        <p class="col-12 myBlogPost__postText myFont-size-16">
                            <?php echo $blogPost->getPostTextHeader(); ?>
                        </p>

                        <img class="col-12 my-5 img-fluid" src="<?php echo $blogPost->getPicture(); ?>"
                             alt="alt image goes here">

                        <p class="col-12 myBlogPost__postText myFont-size-16">
                            <?php echo $blogPost->getPostText(); ?>
                        </p>
                    </div>
                </article>

                <div class="col-12 mt-4 myBlogPost__postFooter">
                    <div class="row myBlogPost__hashtagsAndShare">
                        <span class="col-10 myFont-size-12 myBlogPost__hashtags">tag1 / tag2 / tag3</span>

                        <span class="col-2 myFont-size-14 text-right myBlogPost__shareBtn">share</span>
                    </div>

                    <div class="row myBlogPost__postCategory">
                        <p class="col-12 myFont-size-14 text-center">category 1 / subcategory 1</p>
                    </div>

                    <div class="row mt-3 myBlogPost__author">
                        <img src="" alt="author profile picture" class="col-2 img-fluid myBlogPost__authorImg">

                        <div class="col-10 myBlogPost__authorAbout">
                            <p class="font-weight-bold myFont-size-16 myBlogPost__authorName">
                                <?php echo $blogPost->getAuthor()->getName(); ?>
                            </p>

                            <p class="myFont-size-14 myBlogPost__authorAbout">
                                <?php echo $blogPost->getAuthor()->getDescription(); ?>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-------- Recommended Posts -------->
            <!----------------------------------->
            <section class="row mt-5 recommendedPosts">
                <div class="col-12 col-md-6 col-lg-4 recommendedPostCard">
                    <img src="../img/blog-post-covers/blog-post-1-cover.jpg" alt="recommended post image"
                         class="col-12 recommendedPostCard__img">

                    <h5 class="col-12 mt-4 mb-0 font-weight-bold myFont-size-14 recommendedPostCard__postTitle">
                        Lorem Ipsum</h5>

                    <p class="col-12 myFont-size-12 myDate-color recommendedPostCard__postDate">Jancember 33rd,
                        2020</p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 recommendedPostCard">
                    <img src="../img/blog-post-covers/blog-post-1-cover.jpg" alt="recommended post image"
                         class="col-12 recommendedPostCard__img">

                    <h5 class="col-12 mt-4 mb-0 font-weight-bold myFont-size-14 recommendedPostCard__postTitle">Lorem
                        Ipsum</h5>

                    <p class="col-12 myFont-size-12 myDate-color recommendedPostCard__postDate">Jancember 33rd, 2020</p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 recommendedPostCard">
                    <img src="../img/blog-post-covers/blog-post-1-cover.jpg" alt="recommended post image"
                         class="col-12 recommendedPostCard__img">

                    <h5 class="col-12 mt-4 mb-0 font-weight-bold myFont-size-14 recommendedPostCard__postTitle">Lorem
                        Ipsum</h5>

                    <p class="col-12 myFont-size-12 myDate-color recommendedPostCard__postDate">Jancember 33rd, 2020</p>
                </div>
            </section>

            <!-------- Post Comments -------->
            <!------------------------------->
            <section class="row mt-5 postComments">
                <h3 class="col-12 font-weight-bold text-center myFont-size-14 postComments__nrOfComments">
                    <u>
                        <?php
                        $nrOfComments = count($blogPost->getComments());
                        if ($nrOfComments == 1) {
                        echo $nrOfComments.' comentariu';
                        } else {
                        echo $nrOfComments.' comentarii';
                        }
                        ?>
                    </u>
                </h3>

                <div id="postComments" class="col-12 mt-3 postComments__commentContainer">
                    <?php foreach ($blogPost->getComments() as $comment): ?>
                    <div class="row">
                        <img class="col-2 postComments__userImg" src="" alt="user image">

                        <div class="col-10 postComments__comment">
                            <div class="mb-2 postComments__commentHeader">
                                <span class="font-weight-bold myFont-size-12 postComments__commentAuthor">
                                    <?php echo App\Entity\User::find($comment->getUserId())->getName(); ?>
                                </span>

                                <span class="myFont-size-12 myDate-color postComments__commentDate">
                                    <?php echo $comment->getDate(); ?>
                                </span>

                                <a href="#"
                                   class="font-weight-bold text-dark myFont-size-12 postComments__commentReply">Reply</a>
                            </div>

                            <p class="myFont-size-14 postComments__commentText">
                                <?php echo $comment->getText(); ?>
                            </p>
                        </div>
                    </div>
                    <?php endforeach; ?>
                </div>
            </section>

            <!-------- Leave a Comment Form -------->
            <!-------------------------------------->
            <section class="row mt-5 leaveComment">
                <h4 class="col-12 text-center myFont-size-14 leaveComment__disclaimer">
                    Your email address will not be published. Required fields are marked with *
                </h4>

                <form class="col-12 leaveComment__form">
                    <div class="row formGroup">
                        <label class="col-12 font-weight-bold myFont-size-14" for="commentText">Comment:</label>
                        <textarea class="col-12 px-3 py-2 myFont-size-14 leaveComment__textarea"
                                  name="commentText"
                                  id="commentText"
                                  cols="30"
                                  rows="10"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-4 myFont-size-14 pl-0 formGroup">
                            <label class="font-weight-bold" for="commentAuthor">Name:*</label>
                            <input class="d-block w-100 px-3 py-2 leaveComment__input"
                                   name="commentAuthor"
                                   id="commentAuthor"
                                   type="text"
                                   placeholder="Name*">
                        </div>

                        <div class="col-4 myFont-size-14 pl-0 formGroup">
                            <label class="font-weight-bold" for="commentEmail">Email:*</label>
                            <input class="d-block w-100 px-3 py-2 leaveComment__input"
                                   name="commentEmail"
                                   id="commentEmail"
                                   type="email"
                                   placeholder="Email*">
                        </div>
                    </div>

                    <button id="postComment" class="row myFont-size-14 mt-4 mb-5 btn btn-dark">Post comment</button>
                </form>
            </section>
        </div>
        <!------------------------------------------------>
        <!------------------------------------------------>
        <!------------------------------------------------>

        <!------------------------------------------------>
        <!------------  ASIDE MENU GOES HERE  ------------>
        <!------------------------------------------------>
        <?php include "../components/sidebar.php" ?>
        <!------------------------------------------------>
        <!------------------------------------------------>
        <!------------------------------------------------>
    </div>
</main>

<!----------------------------------------------->
<!------------  INCLUDE HTML FOOTER  ------------>
<!----------------------------------------------->
<?php
include '../components/footer.php';
?>
