{# The Article Body is Here #}
<article class="col-12 py-3 myBlogPost__postContent">
    <h2 class="col-12 text-center myBlogPost__postTitle myFont-size-20">
        {{ blogPost.getPostTitle() }}
    </h2>

    <span class="col-12 mb-5 text-center d-inline-block myBlogPost__postDate myFont-size-12 myDate-color">
                        <span>{{ blogPost.getDate() }}</span>
    </span>

    <div class="row">
        <p class="col-12 myBlogPost__postText myFont-size-16">
            {{ blogPost.getPostTextHeader() }}
        </p>

        <img class="col-12 my-5 img-fluid" src="{{ blogPost.getPicture() }}"
             alt="alt image goes here">

        <p class="col-12 myBlogPost__postText myFont-size-16">
            {{ blogPost.getPostText() }}
        </p>
    </div>
</article>

{# The Article Footer is Here #}
<div class="col-12 mt-4 myBlogPost__postFooter">
    <div class="row myBlogPost__hashtagsAndShare">
        <span class="col-10 myFont-size-12 myBlogPost__hashtags">tag1 / tag2 / tag3</span>

        <span class="col-2 myFont-size-14 text-right myBlogPost__shareBtn">share</span>
    </div>

    <div class="row myBlogPost__postCategory">
        <p class="col-12 myFont-size-14 text-center">category 1 / subcategory 1</p>
    </div>

    <div class="row mt-3 myBlogPost__author">
        <img src="" alt="author profile picture" class="col-2 img-fluid myBlogPost__authorImg">

        <div class="col-10 myBlogPost__authorAbout">
            <p class="font-weight-bold myFont-size-16 myBlogPost__authorName">
                {{ blogPost.getAuthor().getName() }}
            </p>

            <p class="myFont-size-14 myBlogPost__authorAbout">
                {{ blogPost.getAuthor().getDescription() }}
            </p>
        </div>
    </div>
</div>