<div id="postComments" class="col-12 mt-3 postComments__commentContainer">
    {% for comment in comments %}
    <div class="row">
        <img class="col-2 postComments__userImg" src="" alt="user image">

        <div class="col-10 postComments__comment">
            <div class="mb-2 postComments__commentHeader">
                <span class="font-weight-bold myFont-size-12 postComments__commentAuthor">
                    {% for user in commentators %}
                        {% if (user.getId() == comment.getUserId()) %}
                            {{ user.getName() }}
                        {% endif %}
                    {% endfor %}
                </span>

                <span class="myFont-size-12 myDate-color postComments__commentDate">
                    {{ comment.getDate() }}
                </span>

                <a href="#" class="font-weight-bold text-dark myFont-size-12 postComments__commentReply">
                    Reply
                </a>
            </div>

            <p class="myFont-size-14 postComments__commentText">
                {{ comment.getText() }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
